@import "@/styles/fonts.module";

.Table-with-collapse {
  background: #fff;
  border-radius: 16px;
  &__table {
    position: relative;
    width: 100%;

    &--loading {
      &::before {
        background:
          rgba(255, 255, 255, .65) url("./images/loader.svg") center
          center no-repeat;
        background-size: 3.4rem;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }
  &__header-cell {
    font-family: $FontFamilyBold;
    font-size: 14px;
    font-weight: 700;
    padding: 1rem;
    text-align: start;
    vertical-align: bottom;
    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
    }
  }
  &__centered-row {
    height: 240px;
    text-align: center;
    vertical-align: middle;
  }
  &__centered-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
